body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#inicio{
    background-color: #1F2937;
    color: #fff;
    padding: 150px;

}

#header-logo{
    text-decoration: none;
    font-size: 24px;
    color: #F9FaF8;
    font-weight: 700;
    margin: 15px 0;
    flex: 1;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1F2937;
    display: flex;
    padding: 0 150px;
}

ul{
    list-style-type: none;
    overflow: hidden;
    text-align: right;
}

li{
    display: inline-block;
}

li a{
    text-decoration: none;
    margin: 0 5px;
    display: block;
    text-align: right;

}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
}

#inicio-container{
    display: flex;
}

#div-titulo{
    flex: 1;
    padding: 15px 30px 5px 0;
}

#titulo{
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 800;
    margin: 0;

}

#parrafo-titulo{
    font-size: 18px;
    color: #E5E7EB;
}

.btn{
    background-color: #3882F6;
    color: #F9FaF8;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
}

#image{
    background-color: #83838d;
    opacity: 0.7;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

#text-img{
    text-align: center;
}

/*Info section*/
#info{
    padding: 40px 150px;
}

#info-titulo{
    font-weight: 800;
    color: #1F2937;
    font-size: 36px;
    text-align: center;
    margin: 0;
}

#div-info{
    display: flex;
    margin: 40px 70px;
}

.div-info-cajas{
    flex: 1;
    align-items: center;
    text-align: center;
    margin: 35px;
}

.caja-div{
    border: #3882F6 4px solid;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

/*Estilos de la seccion de la frase*/
#frase{
    background-color: #E5E7EB;
    padding: 20vh 43vh;
    color: #1F2937
}

#frase-parrafo{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

#autor{
    font-size: 20px;
    font-weight: 800;
    text-align: right;
    margin: 0;
}

/*Seccion del cartel azul de registrarse*/

#catelito-sec{
    padding: 12vh 35vh;
}

#cartelito{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 60px 50px 100px;
    color: #fff;
    display: flex;
}

.texto-sign{
    flex: 2;
}

.texto-sign h3{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.texto-sign p{
    margin: 0;
    padding: 0;
}

#span-btn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-cartel{
    border: #fff 2px solid;

}

#footer{
    background-color: #1F2937;
    color: #fff;
}